<div class="d-flex container-fluid h-100 w-50">

  <form [formGroup]="loginForm" #formDir="ngForm" class="h-100">
    <h1 class="text-dark text-center">Iniciar Sessió</h1>
    @if(loginCorrecto){
      <p class="fs-3 text-success">{{message}}</p>
    }@else{
      <p class="fs-3 text-danger">{{message}}</p>
    }
    <div class="row d-flex w-100 bg-light justify-content-center">
      <div class="mb-3 d-flex  flex-sm-row flex-column m-5">
        <label for="nom" class="form-label col-sm fs-4">Usuari:</label>
        <input type="email" class="form-control col-sm" id="nom" name="nom" placeholder="nom"
           formControlName="nom" required>
      </div><br>
    <div *ngIf="loginForm.controls['nom']?.invalid &&
  (loginForm.controls['nom']?.dirty ||
   loginForm.controls['nom']?.touched)"
         class="alert alert-danger">
      <div *ngIf="loginForm.controls['nom']?.errors?.['required']">
        Nom és obligatori.
      </div>
      <div *ngIf="loginForm.controls['nom']?.errors?.['minlength']">
        El nom ha de tenir almenys 7 dígits a part del "&#64;ies-sabadell.cat".
      </div>
      <div *ngIf="loginForm.controls['nom']?.errors?.['correoValidator']">
        Ha de tenir com a correo "&#64;ies-sabadell.cat"
      </div>
    </div>
      <div class="mb-3 d-flex flex-sm-row  flex-column m-5">
        <label for="pass" class="form-label col-sm fs-4">Contrasenya:</label>
        <input type="password" class="form-control col-sm" id="pass" placeholder="Password"
           formControlName="password" required>
        </div>
    <br>
    @if (loginForm.controls['password']?.invalid &&
    (loginForm.controls['password']?.dirty ||
      loginForm.controls['password']?.touched
    )){
      <div class="alert alert-danger">


        @if(loginForm.controls['password']?.errors?.['required']){
          <div>
            Password is required.
          </div>
        }
        @if(loginForm.controls['password']?.errors?.['minlength']){
          <div>
            El nom ha de tenir almenys 8 caràcters.
          </div>
        }
        @if(loginForm.controls['password']?.errors?.['passwordStrength']){
          <div>
            Han d'haver números, lletres minúscules i lletres majúscules i no pot
            haver caràcters especials com "#" i "&#64;", pero si hi ha d'haver de
            caràcters especials
          </div>
        }

      </div>
    }
    </div>
    <button class="d-flex justify-content-center btn btn-dark w-50  m-auto m-5" (click)="login()"
            [disabled]="!loginForm.valid" >Login</button>


  </form>


</div>
