<div class="container d-flex flex-column justify-content-center
  align-items-center m-auto mt-5">
  <h1 class="text-center">Secció d'Ajuda</h1>
  @if (loginService.userLogin.value!='logout'){
    <h2 class="text-info text-center">Benvingut {{loginService.userLogin.value}}</h2>
  }
  <div class="container mt-3">
    <h2 class="text-center text-bg-warning">¿Cóm puc jugar?</h2>
    <p class="text-center fs-3">Abans de jugar haurà de registrarte i iniciar sessió.</p>
    <div class="d-flex row">
      <div class="d-flex flex-column col">
        <div class="col d-flex justify-content-center"> <p class="fs-4"> Iniciar Sessió</p> </div>
        <div class="d-flex col flex-wrap justify-content-center">
          <img class="img-fluid  w-75" src="/assets/fotoLogin.png"></div>
      </div>
        <div class="d-flex flex-column col">
        <div class="col d-flex justify-content-center"> <p class="fs-4"> Registre</p>
        </div>
        <div class="d-flex col flex-wrap justify-content-center">
          <img class="img-fluid  w-75" src="/assets/fotoRegistre.png">
        </div>
      </div>
      </div>
    <p class="text-center fs-3">Només podrás jugar amb les tecles del teclat:</p>
    <div class="d-flex row">
      <div class="d-flex flex-column col">
        <div class="col d-flex justify-content-center"> <p class="fs-4"> Control Dreta (Per anar cap a la dreta)</p> </div>
        <div class="d-flex col flex-wrap justify-content-center">
          <img class="img-fluid  w-25" src="/assets/teclaDerecha.jpg"></div>
      </div>
      <div class="d-flex flex-column col ">
        <div class="col d-flex justify-content-center"><p class="fs-4">Control Esquerra (Per anar cap a l'esquerra)</p> </div>
        <div class="d-flex col flex-wrap justify-content-center">
          <img class="img-fluid  w-25" src="/assets/teclaIzquierda.jpg"></div>
      </div>

    </div>
    <h2 class="mt-3 text-center text-bg-warning">Regles del joc?</h2>
    <h3 class="text-center">Para assolir amb el teu objectiu no podras:</h3>

      <div class="d-flex flex-column col">

        <div class="d-flex flex-column col">
          <div class="col d-flex justify-content-center">
            <p class="fs-4">Passar del mur</p></div>
          <div class="d-flex justify-content-center embed-responsive embed-responsive-16by9 col m-5 m-sm-0">
            <video class="embed-responsive-item w-50" controls autoplay loop>
              <source src="/assets/ChocarMuro.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>

    <h2 class="mt-3 text-center text-bg-warning">Com guanyo punts?</h2>
    <div class="d-flex flex-column">
      <div class="d-flex flex-column col">
        <div class="col justify-content-center">
          <p class="fs-3 text-center">Es guanya obtenint activitats angular</p></div>
        <div class="d-flex justify-content-center embed-responsive embed-responsive-16by9 col m-5 m-sm-0">
          <video class="embed-responsive-item w-50" controls autoplay loop>
            <source src="/assets/obtenerAngular.mp4" type="video/mp4">
          </video>
        </div>
      </div>

    <h2 class="mt-3 text-center text-bg-warning">Qué succeix si perdo?</h2>
    <div class="d-flex flex-column">
      <div class="d-flex flex-column col">
        <div class="col justify-content-center">
          <p class="fs-3 text-center">Perds si deixes caure 10 angulars. En aquest cas, se't avisará de que has perdut y no podrás
            seguir jugant</p></div>
        <div class="d-flex col flex-wrap justify-content-center">
          <img class="img-fluid  w-50" src="/assets/partidaPerdida.png"></div>
      </div>

      <div class="d-flex flex-column col">
        <div class="col"> <p class="text-center fs-3">En cas de perdre y voler seguir jugant
          hauràs de prémer pulsar per resetejar la partida</p></div>
        <div class="d-flex col flex-wrap justify-content-center">
          <img class="img-fluid  w-50" src="/assets/tornarJugar.png"></div>
      </div>
    </div>

    <h2 class="mt-3 text-center text-bg-warning">Que es la clasificació?</h2>
    <h3 class="text-center">Una vegada que perds tens l'opció de poder veura el ranking dels millors jugadors,
      i veurà en quina posició has quedat. A més a més, si et fa il·lució podrás descarregar-te aquesta taula
    prement obtenir PDF.</h3>

    <div class="d-flex flex-column col">

      <div class="d-flex row">
        <div class="col d-flex justify-content-center">
          <img class="img-fluid  w-75" src="/assets/fotoClasificacion.png"></div>
        <div class="col d-flex justify-content-center">
          <img class="img-fluid  w-75" src="/assets/ejemploPDF.png"></div>
      </div>
    </div>

    <p class="text-center fs-3">Estes preparat per jugar <a routerLink="/Joc" class="text-success">Prem aquí</a></p>
  </div>
</div>
