<div class="d-flex container-fluid h-100 w-50">

  <form [formGroup]="registreForm" #formDir="ngForm">
    <h1 class="text-dark text-center">Registre</h1>
    @if(registreCorrecte){
      <p class="fs-3 text-success">{{message}}</p>
    }@else{
      <p class="fs-3 text-danger">{{message}}</p>
    }
    <div class="row d-flex w-100 bg-light justify-content-center">
      <div class="mb-3 d-flex  flex-sm-row flex-column m-5">
        <label for="nom" class="form-label col-sm fs-4">Usuari:</label>
        <input type="email" id="nom" class="form-control col-sm" name="nom" placeholder="nom"
           formControlName="nom" required>
      </div><br>
    <div *ngIf="registreForm.controls['nom']?.invalid &&
  (registreForm.controls['nom']?.dirty ||
   registreForm.controls['nom']?.touched)"
         class="alert alert-danger">
      <div *ngIf="registreForm.controls['nom']?.errors?.['required']">
        Nom és obligatori.
      </div>
      <div *ngIf="registreForm.controls['nom']?.errors?.['minlength']">
        El nom ha de tenir almenys 7 dígits a part del "&#64;ies-sabadell.cat".
      </div>
      <div *ngIf="registreForm.controls['nom']?.errors?.['correoValidator']">
        Ha de tenir com a correo "&#64;ies-sabadell.cat"
      </div>
    </div>
      <div class="mb-3 d-flex flex-sm-row  flex-column m-5">
        <label for="pass" class="form-label col-sm fs-4">Contrasenya:</label>
        <input type="password" class="form-control col-sm" id="pass" placeholder="Password"
           formControlName="password" required>
      </div>
    <br>
    @if (registreForm.controls['password']?.invalid &&
    (registreForm.controls['password']?.dirty ||
      registreForm.controls['password']?.touched
    )){
      <div class="alert alert-danger">


        @if(registreForm.controls['password']?.errors?.['required']){
          <div>
            Password is required.
          </div>
        }
        @if(registreForm.controls['password']?.errors?.['minlength']){
          <div>
            La contrasenya ha de tenir almenys 8 caràcters.
          </div>
        }
        @if(registreForm.controls['password']?.errors?.['passwordStrength']){
          <div>
            Han d'haver números, lletres minúscules i lletres majúscules i no pot
            haver caràcters especials com "#" i "&#64;", pero si hi ha d'haver de
            caràcters especials
          </div>
        }

      </div>
    }
    </div>
    <button class="d-flex justify-content-center btn btn-dark w-50  m-auto m-5" (click)="registre()"
            [disabled]="!registreForm.valid" >Registre</button>

  </form>
</div>
