<div class="container">
  <h1 class="text-center">Clasificacions</h1>
  @if (loginService.userLogin.value!='logout'){
    <h2 class="text-info text-center">Benvingut {{loginService.userLogin.value}}</h2>
  }
  <div class="alert alert-info">Primer has de prémer en "obtenir tots els usuaris" per tal de poder utilitzar
    obtenir el PDF</div>
 <div class="d-flex flex-column">
   <div class="d-flex row col justify-content-around">
     <button (click)="getUsuaris()" class="btn btn-secondary mb-5 col-4">Obtenir usuaris</button>
     <button (click)="obtenirPDF()" class="btn btn-secondary mb-5 col-4">Obtenir PDF</button>
   </div>
  <div class="d-flex row col">
  </div>
 </div>

  <div *ngIf="flat">
    <table class="table mt-5 w-75 mx-auto text-center border border-5 border-secondary text-white">
      <thead class="text-center">
      <tr>
        <th class="text-white bg-dark">Nom</th>
        <th class="text-white bg-dark">Punts</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of data">
        @if (row.nom==loginService.userLogin.value){
          <td class="text-info">
            {{row.nom}}
          </td>
          <td class="text-info">
            {{row.punts}}
          </td>
        } @else {
          <td>
            {{row.nom}}
          </td>
          <td>
            {{row.punts}}
          </td>
        }

      </tr>
      </tbody>
    </table>

  </div>


  <div id="pdfTable" #pdfTable>
    <table *ngIf="flat3" class="table mt-5 w-75 mx-auto text-center border border-5 border-secondary text-white">
      <thead class="text-center">
      <tr>
        <th class="text-white bg-dark">Nom</th>
        <th class="text-white bg-dark">Punts</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of data">
        <td>
          {{row.nom}}
        </td>
        <td>
          {{row.punts}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
