<h1>{{title}}</h1>
<div class="container mt-2">
  <nav class="d-flex w-100 justify-content-center align-content-center col-2 bg-black">
    <a routerLink="/Inici" class=" w-100 p-4 fs-3 flex-grow-1 text-center text-decoration-none text-light">Inici</a>
    <a routerLink="/Joc" class=" w-100 p-4 fs-3 flex-grow-1 text-center text-decoration-none text-light">Joc</a>
    <a routerLink="/Informe" class=" w-100 p-4 fs-3 flex-grow-1 text-center text-decoration-none text-light">Clasificacions</a>
    <a routerLink="/Ajuda" class=" w-100 p-4 fs-3 flex-grow-1 text-center text-decoration-none text-light">Ajuda</a>
    @if (loginservice.userLogin.value=='logout'){
    <a routerLink="/Login" class=" w-100 p-4 fs-3 flex-grow-1 text-center text-decoration-none text-light">Login</a>
    <a routerLink="/Registre" class=" w-100 p-4 fs-3 flex-grow-1 text-center text-decoration-none text-light">Registre</a>
    }@else{
      <button (click)="logOut()" class="btn btn-danger col-3">Tancar Sessió</button>
    }

  </nav>

  <router-outlet />
</div>



