<div class="container d-flex flex-column justify-content-center
  align-items-center m-auto mt-5">
  <h1 class="text-center">Box Catch</h1>
  @if (loginService.userLogin.value!='logout'){
    <h2 class="text-info text-center">Benvingut {{loginService.userLogin.value}}</h2>
  }
  <div class="d-flex justify-content-center embed-responsive embed-responsive-16by9 col m-5 m-sm-0">
    <video class="embed-responsive-item w-50" controls autoplay loop>
      <source src="/assets/obtenerAngular.mp4" type="video/mp4">
    </video>
  </div>


  <div class="container mt-2">
    <h2 class="text-center text-bg-warning">¿En que concisteix?</h2>
    <p class=" text-center fs-3 mt-2">El joc consisteix en que Eloi:</p>
    <div class="d-flex justify-content-center flex-wrap">
      <img class="img-fluid  w-25" src="assets/eloi.jpg">
    </div>
    <p class="text-center fs-3">Has d'aconseguir corregir totes les activitats d'angular que cauen a sobre d'ell,
      que tenen aquesta forma:</p>

    <div class="d-flex justify-content-center flex-wrap">
      <img class="img-fluid  w-25" src="assets/angular.png">
    </div>

    <div class="d-flex flex-column">
      <p class="col text-center mt-2 fs-3">Has d'agafar el màxim de objectes, perds si deixes caure 10 objectes</p>
      <div class="d-flex justify-content-center embed-responsive embed-responsive-16by9 col m-5 m-sm-0">
        <video class="embed-responsive-item w-50" controls autoplay loop>
          <source src="/assets/perdAng.mp4" type="video/mp4">
        </video>
      </div>

    </div>


    <div class="d-flex flex-column">
      <p class="col text-center mt-2 fs-3">No pots traspasar els murs, aquests tenen aquesta forma</p>
      <div class="d-flex col flex-wrap justify-content-center"><div class="muro  d-flex justify-content-center align-items-center"></div></div>

    </div>
    <p class="text-center fs-2">Si vols jugar-lo prèm  <a routerLink="/Joc" class="text-success">Juego</a>
    <p class="text-center fs-2">Per més informació  <a routerLink="/Ajuda" class="text-info">Ayuda</a>
  </div>

</div>
