
.cell{
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  background: #e7dddd;
  align-content: center;
  align-items: center;
}
.row{
  display: flex;
  justify-content: center;
}

.wall {
  background: #1e1e1e;

}

.eloi {

  background-image: url("/assets/eloi.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.dot-unhit {
  background-color: white;
}

.activity{

  background-image: url("/assets/angular.png");
  background-size: contain;
  background-repeat: no-repeat;
}
