
@if (loginService.userLogin.value=='logout'){
  <div class="alert alert-danger text-center fs-4 w-50 d-flex
justify-content-center m-auto">Has
    d'iniciar sessió per jugar</div>
} @else {
  <h2 class="text-info text-center">Benvingut {{loginService.userLogin.value}}</h2>
}
<div class="container d-flex flex-column
        justify-content-center align-items-center">

  <div class="d-flex row">
    <div class="col-7">
      <h1 class="text-center">Joc</h1>
      <div class="container" [tabindex]="0">
        <div *ngFor="let row of board; let i = index" class="row">
          <div *ngFor="let cell of row; let j = index" class="cell"
               [class.wall]="cell === 'wall'"
               [class.eloi]="cell === 'eloi'"
               [class.activity]="cell === 'activity'"
          ></div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-2 ">
        <button class="btn btn-secondary mb-5"
                [disabled]="loginService.userLogin.value=='logout'" (click)="startGame()">Iniciar Joc</button>
      </div>

    </div>

    <div class="col">
      <div class="d-flex flex-column">
        @if(warning!=""){
          <p class="text-white text-center bg-warning fs-3">{{warning}}</p>
        } @else if (missatgeMenys!=""){
          <p class="text-white text-center bg-danger fs-3">{{missatgeMenys}}</p>
        } @else if (missatgeMas!=""){
          <p class="text-white text-center bg-success fs-3">{{missatgeMas}}</p>
        }

        <div class="d-flex row mt-5">
          <p class="text-danger fs-4 text-center col">Números de falls totals: {{numeroFallos}}</p>
          <p class="text-success fs-4 text-center col">
            Números de capturats totals: {{numeroCapturados}}</p>
        </div>
      </div>
    </div>
  </div>


</div>

